body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    padding: auto;
    background-color: #f9f9f9;
    overflow-y: auto;
}


h1 {
    color: whitesmoke;
    padding-bottom: 4rem;
}

.container {
    display: flex;
    height: 100%;
    gap: 1rem;
}

.left-card, .right-card {
    padding: 1rem;
}

.form-container{
    border-radius: 1rem;
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.1);
}

.form-container label {
    display: block;
    margin: 1.2rem 0 0.6rem;
}
.form-container input[type="text"], 
.form-container input[type="number"] {
    padding: 1rem;
    margin-bottom: 2rem;
    border: 0.01rem solid #ddd;
    border-radius: 0.04rem;
}
.form-container input[type="submit"] {
    width: 60%;
    height: 5rem;
    border: none;
    border-radius: 0.1rem;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}
.form-container input[type="submit"]:hover {
    background-color: #218838;
}

.result {
    justify-content: center;
    align-items: center;
    display: flex;
    height: auto;
    color: white;
    font-size: larger;
    padding: 1.5rem;  
    box-sizing: border-box;
}


.result {
    justify-content: center;
    align-items: center;
    display: flex;
    height: auto;
    color: white;
    font-size: larger;
    padding: 1.5rem;  
    box-sizing: border-box;
}
